@model  DealDash.Web.viewModels.CreateAuctionViewModel

<div class="modal-header">
    <h5 class="modal-title">Create Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="createForm" method="post" action="Auctions/Create/">
    <div class="modal-body">
        <div class="form-group">
            <label>
                Title
            </label>
            <input class="form-control" name="Title" value="@Model.Title" />
        </div>

        <div class="form-group">
            <label>
                Category
            </label>
            <select class="form-control" name="CategoryID">
                @foreach (var cateory in Model.Categories)
                {
                    <option value="@cateory.ID">@cateory.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>
                Description
            </label>
            <input class="form-control" name="Description" value="@Model.Description" />
        </div>

        <div class="form-group">
            <label>
                ActualAmount
            </label>
            <input class="form-control" name="ActualAmount" value="@Model.ActualAmount" />
        </div>

        <div class="form-group">
            <label>
                StartingTime
            </label>
            <input class="form-control" name="StartingTime" value="@Model.StartingTime" />
        </div>

        <div class="form-group">
            <label>
                EndingTime
            </label>
            <input class="form-control" name="EndingTime" value="@Model.EndingTime" />
        </div>

        <div class="form-group">
            <label>
                Select Pictures
            </label>
            <input id="auctionPictures" class="form-control" name="AuctionPictures" type="file" multiple />
            <div id="picturesArea"></div>
            <input type="hidden" name="AuctionPictures" id="pictureIDs" />
        </div>
        <!--Show Error Message to user-->
        <div id="formError"class="form-group bg-danger" style="display:none">  
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-success" type="button" id="saveButton">
            Save
        </button>
    </div>
</form>

<script>
	$("#saveButton").click(function () {

		debugger;

        var imageIDs = [];
	$("#picturesArea .image").each(function () {
        var imageID = $(this).attr("data-id");
        debugger;
			imageIDs.push(imageID);
		});

		$("#pictureIDs").val(imageIDs.join());

		$.ajax({
			url: "@Url.Action("Create","Auction")",
			method: "post",
			data: $("#createForm").serialize()
		}).done(function (response) {
           debugger;
           if (response.Success) {
               ReloadListing();
               $('#formModal').modal('toggle');
           }
           else {
               $("#formError").html(response.Error);
               $("#formError").show();
           }
		});
	});

	$("#auctionPictures").change(function () {

		var pictures = this.files;

		var picsData = new FormData();

		for (var i = 0; i < pictures.length; i++) {
			picsData.append("Picture", pictures[i]);
		}

		$.ajax({
			url: "@Url.Action("UploadPictures", "Shared")",
			type: "post",
			data: picsData,
			dateType: "json",
			processData: false,
			contentType: false
		})
		.done(function (responses) {
			for (var i = 0; i < responses.length; i++) {
				var picResponse = responses[i];

				AttachNewImage(picResponse.pictureURL, picResponse.ID);
			}
		});
	});

	function AttachNewImage(imageURL, imageID) {
		var $newimgHTML = $("#imageTemplate").clone();

		$newimgHTML.find(".image").attr("src", "/content/images/" + imageURL);
		$newimgHTML.find(".image").attr("data-id", imageID);

		$("#picturesArea").append($newimgHTML.html());

		RemoveImagesOnClick();
	}
</script>