@model DealDash.Entities.Auction


<h2>Edit</h2>

<form method="post" id="editForm">
    <input name="ID" value="@Model.ID" type="hidden" />

    <div class="form-group">

        <label>Title</label>
        <input name="Title" class="form-control" placeholder="Enter Title" value="@Model.Title">

    </div>
    <div class="form-group">

        <label>Description</label>
        <input name="Description" class="form-control" placeholder="Enter Description" value="@Model.Description">

    </div>
    <div class="form-group">

        <label>Actual Amount</label>
        <input name="AcutalAmount" class="form-control" placeholder="Enter Actual Amount" value="@Model.ActualAmount">

    </div>
    <div class="form-group">

        <label>StartingTime</label>
        <input name="StartingTime" class="form-control" placeholder="Enter StartingTime" value="@Model.StartingTime">

    </div>
    <div class="form-group">

        <label>EndingTime</label>
        <input name="EndingTime" class="form-control" placeholder="Enter EndingTime" value="@Model.EndingTime">

    </div>
    <Button id="saveButton" type="submit" class="btn btn-primary">Submit</Button>
</form>

<script>

    $("#saveButton").click(function () {
        $.ajax({
            url: "@Url.Action("Edit","Auction")",
            method: "post",
            data: $("#editForm").serialize()
        })
            .done(function (response) {
                debugger;
                $("#listingArea").html(response);
            });
    });
</script>




