@model DealDash.Entities.Auction


<h2>Edit</h2>



<div class="modal-header">
    <h5 class="modal-title">Edit Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="post" id="editForm">
    <div class="modal-body">
        <input name="ID" value="@Model.ID" type="hidden" />

        <div class="form-group">

            <label>Title</label>
            <input name="Title" class="form-control" placeholder="Enter Title" value="@Model.Title">

        </div>
        <div class="form-group">

            <label>Description</label>
            <input name="Description" class="form-control" placeholder="Enter Description" value="@Model.Description">

        </div>
        <div class="form-group">

            <label>Actual Amount</label>
            <input name="AcutalAmount" class="form-control" placeholder="Enter Actual Amount" value="@Model.ActualAmount">

        </div>
        <div class="form-group">

            <label>StartingTime</label>
            <input name="StartingTime" class="form-control" placeholder="Enter StartingTime" value="@Model.StartingTime">

        </div>
        <div class="form-group">

            <label>EndingTime</label>
            <input name="EndingTime" class="form-control" placeholder="Enter EndingTime" value="@Model.EndingTime">

        </div>
       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <Button id="saveButton" type="submit" class="btn btn-primary">Submit</Button>
    </div>
</form>

<script>

    $("#saveButton").click(function () {
        $.ajax({
            url: "@Url.Action("Edit","Auction")",
            method: "post",
            data: $("#editForm").serialize()
        })
            .done(function (response) {
              
                $("#listingArea").html(response);
                $('#formModal').modal('toggle')
            });
    });
</script>


